@model Projecten2.Models.Domain.Analyse


<main class="overzicht">
    <div class="contain">
        <h1>Welke nieuwe functies zet u in?</h1>
        <a asp-controller="Analyse" asp-action="kostenbaten" asp-route-id="@Model.AnalyseId" class="terug button"><i class="fa fa-arrow-left"></i> Terug</a>
        <a asp-controller="Vragen" asp-action="KVraagS1" asp-route-AnalyseId="@Model.AnalyseId" class="terug button"><i class="fa fa-plus"></i> Nieuw</a>
        <table style="width:100%">
            <tr>
                <th>Aantal Maanden IBO</th>
                <th>Aantal uren per week</th>
                <th>Bruto maandloon fulltime</th>
                <th>Doelgroep</th>
                <th>Functie</th>
                <th>Vlaamse ond. premie</th>
                <th>Totale productiviteits premie</th>
                <th></th>
            </tr>
            @if (Model.Kosten.Kvragen01.Count == 0)
            {
                <tr>
                    <th colspan="7" class="alert">Er zijn geen functies.</th>
                </tr>
            }
            @foreach (var item in Model.Kosten.Kvragen01)
            {
                <tr>
                    <th>@item.AantalMaandenIBO</th>
                    <th>@item.AantalUrenPerWeek</th>
                    <th>@item.BrutoMaandloonFulltime</th>
                    <th>@item.Doelgroep.DoelgroepValue</th>
                    <th>@item.Functie</th>
                    <th>@item.VlaamseOndPremie</th>
                    <th>@item.TotaleProductiviteitsPremie</th>
                    <th><a asp-controller="Overzichten" asp-action="VerwijderKVraag" asp-route-VraagNr="1" asp-route-AnalyseId="@Model.AnalyseId" asp-route-VraagId="@item.Id"><i class="fa fa-trash"></i></a></th>
                </tr>
            }
        </table>
    </div>
</main>