@model Projecten2.Models.Domain.Analyse


<main class="overzicht">
    <div class="contain">
        <h1>Welke kosten moet u ter voorbereiding maken om dit te implementeren?</h1>
        <a asp-controller="Analyse" asp-action="kostenbaten" asp-route-id="@Model.AnalyseId" class="terug button"><i class="fa fa-arrow-left"></i> Terug</a>
        <a asp-controller="Vragen" asp-action="KVraagS4" asp-route-AnalyseId="@Model.AnalyseId" asp-route-VraagId="2" class="terug button"><i class="fa fa-plus"></i> Nieuw</a>
        <table style="width:30%">
            <tr>
                <th>Type</th>
                <th>Bedrag</th>
                <th></th>
            </tr>
            @if (Model.Kosten.Kvragen2.Count == 0)
            {
                <tr>
                    <th colspan="3" class="alert">Er zijn geen functies.</th>
                </tr>
            }
            @foreach (var item in Model.Kosten.Kvragen2)
            {
                <tr>
                    <th>@item.Type</th>
                    <th>€ @item.Bedrag</th>
                    <th><a asp-controller="Overzichten" asp-action="VerwijderKVraag" asp-route-VraagNr="2" asp-route-AnalyseId="@Model.AnalyseId" asp-route-VraagId="@item.Id"><i class="fa fa-trash"></i></a></th>
                </tr>
            }
        </table>
    </div>
</main>