@model IEnumerable<Projecten2.Models.Domain.Analyse>
@{
    ViewData["Title"] = "Archief";
}

<main>
    <div class="contain archief">
        <h1>Archief</h1>
        <div class="archiefbuttons">
            <button class="undo"><i class="fa fa-mail-reply"></i></button>
            <button class="zoek"><i class="fa fa-search"></i></button>
            <input type="text" name="zoekanalyse" class="zoekbalk" placeholder="tik om te soek...">
        </div>

        <div class="archieflijst">
            <div class="archiefbalk">
                <div class="checktop"></div>
                <span class="anaam">Naam</span>
                <span class="abedrijf">Bedrijf</span>
                <span class="aafdeling">Afdeling</span>
                <span class="adatum">Datum D/M/Y</span>
                <span class="aomzet">Omzet</span>
                <div class="clear"></div>
            </div>
            @foreach (var item in Model)
            {
                <div class="archiefanalyse">
                    <input type="checkbox" name="selectanalyse" value="" class="check">
                    <span class="anaam">@item.naam</span>
                    <span class="abedrijf">@item.bedrijf</span>
                    <span class="aafdeling">@item.afdeling</span>
                    <span class="adatum">@item.datum.Day/@item.datum.Month/@item.datum.Year</span>
                    <span class="aomzet omzetanalyse"><p>@item.balansFormat()</p></span>
                    <div class="clear"></div>
                </div>
            }
        </div>
    </div>
</main>