@model IEnumerable<Projecten2.Models.Domain.Analyse>
@{
    ViewData["Title"] = "Archief";
}

<main>
    <div class="contain archief">
        <h1>Archief</h1>
        @if (TempData["Message"] != null)
        {
            <p class="confirmation"><i class="fa fa-check-square"></i> @TempData["Message"]</p>
        }
        @if (TempData["Error"] != null)
        {
            <p class="confirmationerror"><i class="fa fa-exclamation-triangle"></i> @TempData["Error"]</p>
        }
        <form asp-controller="Home" asp-action="DeArchiveer" asp-route-sorterenop="0" method="post" id="archiefform">
            <div class="archiefbuttons">
                <button onclick="ToDearchief()" type="submit" class="undo hint hint--top" data-hint="Dearchiveer analyse(s)"><i class="fa fa-archive"></i></button>
                <button onclick="ToZoek()" type="submit" class="zoek"><i class="fa fa-search"></i></button>
                <input type="text" name="zoektekst" class="zoekbalk" placeholder="zoeken...">
            </div>

            <div class="archieflijst">
                <div class="archiefbalk">
                    <div class="checktop">
                        <input type="checkbox" id="checkcheck" class="check" onclick="Toggle(this)">
                    </div>
                    <span class="abedrijf" onclick="ToSorteer(1)">Bedrijf</span>
                    <span class="aafdeling" onclick="ToSorteer(2)">Afdeling</span>
                    <span class="adatum" onclick="ToSorteer(3)">Datum D/M/Y</span>
                    <span class="aomzet" onclick="ToSorteer(4)">Omzet</span>
                    <div class="clear"></div>
                </div>
                @foreach (var item in Model)
            {
                    <div class="archiefanalyse">
                        <input type="checkbox" name="selectanalyse" value="@item.AnalyseId" class="check">
                        <span class="abedrijf">@item.Bedrijf</span>
                        <span class="aafdeling">@item.Afdeling</span>
                        <span class="adatum">@item.Datum.Day/@item.Datum.Month/@item.Datum.Year</span>
                        <p hidden>@item.getBalansFormat()</p>
                        @if (@item.Balans > 0)
                        {
                            <span class="aomzet omzetanalyse"><p class="green bold">€ @item.getBalansFormat()</p></span>
                        }
                        else if (@item.Balans < 0)
                        {
                            <span class="aomzet omzetanalyse"><p class="red bold">€ @item.getBalansFormat()</p></span>
                        }
                        else
                        {
                            <span class="aomzet omzetanalyse"><p class="gray bold">€ @item.getBalansFormat()</p></span>
                        }

                        <div class="clear"></div>
                    </div>
                }
            </div>
        </form>
    </div>
</main>
<script src="js/site.js"></script>