@using Projecten2.Models.Domain
@model IEnumerable<Projecten2.Models.Domain.Analyse>
@{
    ViewData["Title"] = "Overzicht";
}

<main>
    <div class="contain">
        <h1>Overzicht</h1>
        <a href="#" class="analyse">
            <p><i class="fa fa-plus"></i> Nieuwe analyse</p>
        </a>
        @foreach (var item in Model)
        {
            <div class="analyse">
                <div class="analysetop">
                    <a href="#" class="naam">@item.naam</a>
                    @*@await Html.PartialAsync("ArchiveerAnalyse")*@
                    <button type="submit"><a href="#"><i class="fa fa-file-archive-o"> </i></a></button> <!-- delete/archive -->
                    <a href="#"><i class="fa fa-envelope"> </i></a> <!-- mail -->
                    <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
                    <div class="clear"></div>
                </div>
                <div class="analysebottom">
                    <p class="bedrijf">Bedrijf: @item.bedrijf</p>
                    <p class="datum">@item.datum.Day @item.getMonth() @item.datum.Year</p>
                    <p class="afdeling">Afdeling: @item.afdeling</p>
                    <p class="kostenbaten">@item.balansFormat()</p>
                    <div class="clear"></div>
                </div>
            </div>
        }
        <div class="clear"></div>
    </div>
    <!-- content -->
</main>

@*<div class="analyse">
    <div class="analysetop">
        <a href="#" class="naam">Naam</a>
        <a href="#"><i class="fa fa-file-archive-o"> </i></a> <!-- delete/archive -->
        <a href="#"><i class="fa fa-envelope"> </i></a> <!-- mail -->
        <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
        <div class="clear"></div>
    </div>
    <div class="analysebottom">
        <p class="bedrijf">Bedrijf: Google</p>
        <p class="datum">19 feb 2017</p>
        <p class="afdeling">Afdeling: Wc-dienst1</p>
        <p class="kostenbaten">0</p>
        <div class="clear"></div>
    </div>
</div>*@