@using System.Runtime.InteropServices.ComTypes
@using Microsoft.CodeAnalysis.Differencing
@using Projecten2.Models.Domain
@model IEnumerable<Projecten2.Models.Domain.Analyse>
@{
    ViewData["Title"] = "Overzicht";
}

<main>
    <div class="contain">
        <h1>Overzicht</h1>
        <a asp-controller="Analyse" asp-action="Create" class="analyse">
            <p><i class="fa fa-plus"></i> Nieuwe analyse</p>
        </a>
        @foreach (var item in Model)
        {
            <div class="analyse">
                @{
                    item.getBalansFormat();
                }
                <div class="analysetop">
                    <a asp-controller="Analyse" asp-action="KostenBaten" asp-route-id="@item.AnalyseId" class="naam">@item.Bedrijf</a>
                    <a asp-controller="Home" asp-action="Archiveer" asp-route-id="@item.AnalyseId" class="hint hint--top" data-hint="Archiveer analyse"><i class="fa fa-archive"> </i></a> <!-- delete/archive -->
                    <a href="#" class="hint hint--top" data-hint="Download pdf"><i class="fa fa-file-pdf-o"> </i></a> <!-- download -->
                    <a asp-controller="Analyse" asp-action="Edit" asp-route-id="@item.AnalyseId" class="hint hint--top" data-hint="Edit analyse"><i class="fa fa-pencil"> </i></a> <!-- Edit<>-->
                    <div class="clear"></div>
                </div>
                <div class="analysebottom">
                    <p class="afdeling">Afdeling: @item.Afdeling</p>
                    @if (@item.Balans > 0)
                    {
                        <p class="kostenbaten green bold">€ @item.getBalansFormat()</p>
                    }
                    @if (@item.Balans < 0)
                    {
                        <p class="kostenbaten red bold">€ @item.getBalansFormat()</p>
                    } else if (@item.Balans == 0)
                    {
                        <p class="kostenbaten gray bold">€ @item.getBalansFormat()</p>
                    }
                    <p class="datum">@item.Datum.Day @item.getMonth() @item.Datum.Year</p>
                    <div class="clear"></div>
                </div>
                <div class="ratiobalk">
                    @if (@item.Balans == 0)
                    {
                        <div class="ratiogrijs"></div>
                    }
                    else if (@item.getWidthGroen() >= 98)
                    {
                        <div class="ratiogroen" style="width: 100%;"></div>
                        <span class="ratioinfog">€ @item.getBatenFormat()</span>
                    }
                    else if (@item.getWidthRood() >= 98)
                    {
                        <div class="ratiogroen" style="width: 100%;"></div>
                        <span class="ratioinfor">€ @item.getKostenFormat()</span>
                    }
                    else
                    {
                        <div class="ratiogroen" style="width: @(item.getWidthGroen())%;"></div>
                        <div class="overgang"></div>
                        <div class="ratiorood" style="width: calc(@(item.getWidthRood())% - 5px);"></div>
                        <span class="ratioinfog">€ @item.getBatenFormat()</span>
                        <span class="ratioinfor">€ @item.getKostenFormat()</span>
                    }
                </div>
            </div>
        }
        <div class="clear"></div>
    </div>
</main>

@*<script>
    window.onload = function balkjeWidth() {

        var divs = document.getElementsByTagName("div");
        var groenwidth = 0;
        var roodwidth = 0;
        for (var i = 0; i < divs.length; i++) {
            if (divs[i].hasAttribute("id", "groenwidth")) {
                if (divs[i].hasContent) {
                    groenwidth = divs[i].innerHTML;
                    groenwidth = groenwidth + "px";
                }
            }
            if (divs[i].hasAttribute("id", "roodwidth")) {
                if (divs[i].hasContent) {
                    roodwidth = divs[i].innerHTML;
                    roodwidth = roodwidth + "px";
                }
            }
            if (divs[i].hasAttribute("id", "groen")) {
                divs[i].style.width = groenwidth;
            }
            if (divs[i].hasAttribute("id", "rood")) {
                divs[i].style.width = roodwidth;
            }
        }
    }
</script>*@