@using Projecten2.Models.Domain
@model IEnumerable<Projecten2.Models.Domain.Analyse>
@{
    ViewData["Title"] = "Overzicht";
}

<main>
    <div class="contain">
        <h1>Overzicht</h1>
        <a asp-controller="Analyse" asp-action="Create" class="analyse">
            <p><i class="fa fa-plus"></i> Nieuwe analyse</p>
        </a>
        @foreach (var item in Model)
        {
            <div class="analyse">
                <div class="analysetop">
                    <a asp-controller="Analyse" asp-action="KostenBaten" asp-route-id="@item.AnalyseId" class="naam">@item.Naam</a>
                    <a asp-controller="Home" asp-action="Archiveer" asp-route-id="@item.AnalyseId"><i class="fa fa-file-archive-o"> </i></a> <!-- delete/archive -->
                    @*<a href="#"><i class="fa fa-envelope"> </i></a>*@ <!-- mail -->
                    <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
                    <a asp-controller="Analyse" asp-action="Edit" asp-route-id="@item.AnalyseId"><i class="fa fa-pencil"> </i></a> <!-- Edit -->
                    <div class="clear"></div>
                </div>
                <div class="analysebottom">
                    <p class="bedrijf">Bedrijf: @item.Bedrijf</p>
                    <p class="datum">@item.Datum.Day @item.getMonth() @item.Datum.Year</p>
                    <p class="afdeling">Afdeling: @item.Afdeling</p>
                    @if (@item.Balans > 0)
                    {
                        <p class="kostenbaten green bold">€ @item.balansFormat()</p>
                    }
                    else if (@item.Balans < 0)
                    {
                        <p class="kostenbaten red bold">€ @item.balansFormat()</p>
                    }
                    else
                    {
                        <p class="kostenbaten gray bold">€ @item.balansFormat()</p>
                    }
                    <div class="clear"></div>
                </div>
            </div>
        }
        <div class="clear"></div>
    </div>
    <!-- content -->
</main>

@*<div class="analyse">
    <div class="analysetop">
        <a href="#" class="naam">Naam</a>
        <a href="#"><i class="fa fa-file-archive-o"> </i></a> <!-- delete/archive -->
        <a href="#"><i class="fa fa-envelope"> </i></a> <!-- mail -->
        <a href="#"><i class="fa fa-download"> </i></a> <!-- download -->
        <div class="clear"></div>
    </div>
    <div class="analysebottom">
        <p class="bedrijf">Bedrijf: Google</p>
        <p class="datum">19 feb 2017</p>
        <p class="afdeling">Afdeling: Wc-dienst1</p>
        <p class="kostenbaten">0</p>
        <div class="clear"></div>
    </div>
</div>*@